<h1>Posts#index</h1>

<%= link_to '新增', new_post_path %>

<%= render "post_list", posts: @posts %>

<ul>
  <%= render @posts %>
</ul>

<% content_for :title_block do %>
12345
<% end %>
<% provide :bottom_js, "hello, ruby" %>

